<!--header area start-->
    <header class="header_area">
        <!--header top start-->
        <div class="header_top">
            <div class="container">   
                <div class="row align-items-center">
                    <div class="col-lg-7 col-md-12">
                        <div class="welcome_text">
                           <ul>
                             
                               <li><span>Livraison à domicile dans toute la Tunisie</span></li>

                               <li><span>Retours Gratuits *</span> Satisfaction garantie</li>
                           </ul>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-12">
                        <div class="top_right text-right">
                            <ul>
                            
                                <li class="language"><a><img src="assets/assets/img/logo/language.png" alt=""> Français</a>
                                 
                                </li>
                                <li class="currency"><a href="#">TND</a>
                                  
                                </li>
                            </ul>
                        </div>   
                    </div>
                </div>
            </div>
        </div>
        
        <!--header top start-->
        
        <!--header middel start-->
        <div class="header_middel">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-5">
                        <div class="logo">
                            <a href="index.html">
                                <img src="assets/assets/img/logo/logo11.jpg" alt="" style="width: 150px; height: 100px;">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="cart_area">
                         
                            <div class="cart_link">
                                <a href="#"><i class="fa fa-shopping-basket"></i> article(s)</a>
                                <!-- mini panier -->
                                <div class="mini_cart">
                                
                                    <div class="cart__table">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td class="text-left">Sous-total du panier :</td>
                                                    <!-- <td class="text-right">{{ getSousTotal() }}DT</td> -->
                                                </tr>
                                                <tr>
                                                    <th>Frais de livraison</th>
                                                    <td><strong>8 DT</strong></td>
                                                </tr>
                                            
                                      
                                        
                                            </tbody>
                                        </table>
                                    </div>
                                  
                                </div>
                                <!-- fin du mini panier -->
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
        
        <!--header middel end-->

        <!--header bottom satrt-->
        <div class="header_bottom sticky-header">
            <div class="container">
                <div class="row align-items-center">                   
                    <div class="col-12">
                        <div class="header_static">
                            <div class="main_menu_inner">
                                <div class="main_menu"> 
                                    <nav>  
                                        <ul>
                                            <li class="active"><a href="index.html">Accueil</a>
                                               
                                            </li>
                                            <li class="mega_items"><a href="/produit">Boutique </a>
                                                <!-- <ul class="mega_menu">
                                                  
                                                
                                                   
                                                    <li class="banner_menu"><a href="#"><img src="assets/assets/img/bg/psj.jpg" alt=""></a></li>
                                                </ul> -->
                                            </li>
                                           
                                            <li>
                                               
                                            </li>
                                            <li><a href="/about">À Propos de Nous</a></li>
                                            <li><a href="/contact">Contactez-nous</a></li>
                                        </ul>  
                                    </nav> 
                                </div>
                            </div> 
        
                            <div class="contact_phone">
                                <p>Appelez-nous : <a href="tel:+21627715933"><i class="fas fa-phone"></i> +216 27 715 933</a></p>
                            </div>
                            
                        </div>    
                    </div>
                </div>
            </div>
        </div>
        
        <!--header bottom end-->
    </header>
    <!--header area end-->