

  <!--footer area start-->
  <footer class="footer_widgets">
    <div class="footer_top">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-6 col-sm-6 col-6">
                    <div class="widgets_container">
                        <h3>Information</h3>
                        <div class="footer_menu">
                            <ul>
                                <li><a href="/about">À propos de nous</a></li>
                                <li><a href="/delivery">Informations de livraison</a></li>
                                <li><a href="/produit">Produit</a></li>
                                <li><a href="/contact">Contactez-nous</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-lg-2 col-md-6 col-sm-6 col-6">
                    <div class="widgets_container">
                        <h3>Extras</h3>
                        <div class="footer_menu">
                            <ul>
                                <li><a href="#">Brands</a></li>
                                <li><a href="#">Gift Certificates</a></li>
                                <li><a href="#">Affiliate</a></li>
                                <li><a href="#">Specials</a></li>
                                <li><a href="contact.html">Site Map</a></li>
                                <li><a href="my-account.html">My Account</a></li>
                            </ul>
                        </div>
                    </div>
                </div> -->
                <div class="col-lg-4 col-md-6">
                    <div class="widgets_container contact_us">
                        <h3>Contact Us</h3>
                        <div class="footer_contact">
                            <p>Adresse: Sakiet eddaire, Sfax, Tunisia, 3011</p>
                            <p>Téléphone : <a href="tel:01234567890">+216 27 715 933</a> </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="widgets_container newsletter">
                        <h3>Recevez nos offres spéciales</h3>
                        <div class="newleter-content">
                            <p>Vous pouvez vous désinscrire à tout moment. Vous trouverez pour cela nos informations de contact dans les conditions d'utilisation du site.</p>
                            <div class="subscribe_form">
                                <form id="mc-form" class="mc-form footer-newsletter" >
                                    <input id="mc-email" type="email" autocomplete="off" placeholder="Enter you email address here..." />
                                    <button id="mc-submit">S'abonner!</button>
                                </form>
                                <!-- mailchimp-alerts Start -->
                                <div class="mailchimp-alerts text-centre">
                                    <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                                    <div class="mailchimp-success"></div><!-- mailchimp-success end -->
                                    <div class="mailchimp-error"></div><!-- mailchimp-error end -->
                                </div><!-- mailchimp-alerts end -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_bottom">
        <div class="container">
           <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="copyright_area">
                        <p> &copy; 2023 <strong> Frip Sakyetna </strong> Mede with ❤️ by <a href="https://hasthemes.com/" target="_blank"><strong>Marwa Ben Maouia</strong></a></p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-2">
                    <div class="container">
                        <div class="row justify-content-center align-items-center">
                            <div class="col-lg-2 text-center">
                              <a href="#"><img src="assets/assets/img/logo/Barcelo.png" alt="" class="img-small"></a>
                              <div class="shipping_content">
                    
                              </div>  
                            </div>
                          
                            <div class="col-lg-2 text-center">
                              <a href="#"><img src="assets/assets/img/logo/almag.png" alt="" class="img-small"></a>
                              <div class="shipping_content">
                         
                              </div>  
                            </div>
                          
                            <div class="col-lg-2 text-center">
                              <a href="#"><img src="assets/assets/img/logo/Liverpoo.png" alt="" class="img-small"></a>
                              <div class="shipping_content">
                          
                              </div>  
                            </div>
                            
                            <div class="col-lg-2 text-center">
                              <a href="#"><img src="assets/assets/img/logo/psg.png" alt="" class="img-small"></a>
                              <div class="shipping_content">
                              
                              </div>  
                            </div>
                            <div class="col-lg-2 text-center">
                                <a href="#"><img src="assets/assets/img/logo/Argentina.png" alt="" class="img-small"></a>
                                <div class="shipping_content">
                                
                                </div>  
                              </div>
                              <div class="col-lg-2 text-center">
                                <a href="#"><img src="assets/assets/img/logo/tun.png" alt="" class="img-small"></a>
                                <div class="shipping_content">
                                
                                </div>  
                              </div>
                              <div class="col-lg-2 text-center">
                                <a href="#"><img src="assets/assets/img/logo/Chelsea.png" alt="" class="img-small"></a>
                                <div class="shipping_content">
                                
                                </div>  
                              </div>
                              <div class="col-lg-2 text-center">
                                <a href="#"><img src="assets/assets/img/logo/Madrid.png" alt="" class="img-small"></a>
                                <div class="shipping_content">
                                
                                </div>  
                              </div>
                              <div class="col-lg-2 text-center">
                                <a href="#"><img src="assets/assets/img/logo/manchester.png" alt="" class="img-small"></a>
                                <div class="shipping_content">
                                
                                </div>  
                              </div>
                          </div>
                          
                       
                        
                        </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--footer area end-->