<app-header></app-header>
		<hr>
		    <!--breadcrumbs area start-->
			<div class="breadcrumbs_area other_bread">
				<div class="container">   
					<div class="row">
						<div class="col-12">
							<div class="breadcrumb_content">
								<ul>
									<li><a href="index.html">accueil</a></li>
						<li>/</li>
						<li>À Propos de Nous</li>
								</ul>
							</div>
						</div>
					</div>
				</div>         
			</div>
			<!--breadcrumbs area end-->
			
				<!--about section area -->
			<div class="about_section">
				<div class="container">  
					<div class="row">
						<div class="col-lg-6 col-md-12">
							<div class="about_content">
								<h1>Bienvenue dans le magasin Frip Sekyetna !</h1>
								<p> À Frip Sekyetna, nous sommes passionnés par le sport et les produits de qualité qui vous permettent de soutenir votre équipe favorite avec fierté. Notre histoire commence avec un amour profond pour le football et le désir de partager cette passion avec d'autres amateurs de sport. Nous offrons une gamme exclusive de maillots authentiques, de casquettes stylées et de vestes de sport de haute qualité provenant des équipes les plus prestigieuses du monde.

									Notre engagement envers l'excellence se reflète dans chaque produit que nous proposons. Chaque article que vous trouvez dans notre boutique en ligne est soigneusement sélectionné pour sa qualité, son authenticité et sa durabilité. Que vous recherchiez un maillot pour représenter votre équipe préférée lors des matchs ou que vous souhaitiez simplement mettre en valeur votre passion pour le sport, nous avons ce qu'il vous faut.
									
									Nous comprenons que la commodité est essentielle, c'est pourquoi nous offrons un service de livraison à domicile rapide et fiable. Il vous suffit de passer votre commande, et nous nous chargeons du reste, vous apportant vos articles préférés directement à votre porte.
									
									</p>

								<div class="view__work">
									<a href="/produit">Allez acheter</a>
								</div>  
							</div>
						</div>
						<div class="col-lg-6 col-md-12">
							<div class="about_thumb">
								<img src="assets/assets/img/about/foot.png" alt="">
							</div>
						</div>
					</div>
				</div>     
			</div>
			<!--about section end-->
		
		
			<!--counterup area -->
			<div class="counterup_section">
				<div class="container">   
					<div class="row">
					
						 <div class="col-lg-3 col-md-6 col-sm-6">
							<div class="single_counterup count-two">
								<div class="counter_img">
									<i class="fas fa-store"></i>
								</div>
								<div class="counter_info">
									<h2 class="counter_number">1</h2>
									<p>Nombre de boutiques</p>
								</div>
								
							</div>
						</div>
					
						 <div class="col-lg-3 col-md-6 col-sm-6">
							<div class="single_counterup count-two">
								<div class="counter_img">
									<i class="fas fa-box"></i>
								</div>
								<div class="counter_info">
									<h2 class="counter_number">{{totalproduit}}</h2>
									<p>Nombre de produits</p>
								</div>
							</div>
						</div>
					</div>
				</div>    
			</div>
			<!--counterup end-->
		
			<!--about progress bar -->
			<div class="about_progressbar">
				<div class="container">   
					<div class="row align-items-center">
						<div class="col-lg-6 col-md-6">
							<div class="progressbar_inner">
							   <h2>We have Skills to show</h2>
								<div class="progress_skill one">
									<div class="progress">
										<div class="progress-bar about_prog wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay=".3s" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
											<span class="progress_persent">Vest de sport</span>    
										</div>
									</div>
									<span class="progress_discount">60%</span>
								</div>
								<div class="progress_skill two">
									<div class="progress">
										<div class="progress-bar about_prog wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay=".5s" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
		
											<span class="progress_persent">Pull</span>
										</div>
		
									</div>
									 <span class="progress_discount">90%</span>
								</div> 
								<div class="progress_skill three">
									<div class="progress">
										<div class="progress-bar about_prog wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay=".7s" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
		
											<span class="progress_persent">Casquette</span>
										</div>
		
									</div>
									 <span class="progress_discount">70%</span>
								</div> 
								 <div class="progress_skill four">
									<!-- <div class="progress">
										<div class="progress-bar about_prog wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay=".7s" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
		
											<span class="progress_persent">Branding  </span>
										</div>
		
									</div>
									 <span class="progress_discount">80%</span> -->
								</div> 
							</div>           
						</div>
						<div class="col-lg-6 col-md-6">
							<div class="about__img">
								<img src="assets/assets/img/about/foot3.png" alt="">
							</div>
						</div>
					</div>
				</div>    
			</div>
			<!--about progress bar end -->
			<hr>
			<app-footer></app-footer>